name: Build wheels

on:
  workflow_call:
    inputs:
      libfranka-version:
        required: true
        type: string

env:
  PYBIN_SUPPORTED_VERSIONS: "cp3(9|10|11|12)"

jobs:
  build_wheels:
    runs-on: ubuntu-latest

    container:
      image: quay.io/pypa/manylinux_2_34_x86_64

    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          yum -y install poco-devel* zip
          LIBFRANKA_VERSION=${{ inputs.libfranka-version }} ./docker/common/install-dependencies

      - name: Setting up pip
        run: |
          ./docker/common/manylinux-setup-pip

      - name: Python package
        run: |
          LIBFRANKA_VERSION=${{ inputs.libfranka-version }} ./docker/common/manylinux-build-wheels

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: output
